##alphabet rangoli

In [73]:
a=list("abcdefghijklmnopqrstuvwxyz")
a

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [74]:
a2=[chr(i) for i in range(97,127)]#ascii  a-97,126=z contain small leteers and char convert num to char
a2=a2[:3]
a2

['a', 'b', 'c']

In [75]:
idx=list(range(3))
idx=idx[:-1]+idx[::-1]# ist one not include last on and reverse indx
idx

[0, 1, 2, 1, 0]

In [76]:
for i in idx:
    start_index=i+1
    org=a2[-start_index:]
    rev=org[::-1]
    row=rev + org[1:]
    row="-".join(row)
    width=3 * 4-3
    row=row.center(width,"-")
    print(row)

----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

##counts score

In [78]:
string="BANANA"

In [79]:
Vowels="AEIOU"
kevin_score= stuart_score=0
length=len(string)

In [80]:
list(range(length))

[0, 1, 2, 3, 4, 5]

In [81]:
for i in  range(length):
    if string[i] in Vowels:
        kevin_score +=length -i
    else:
        stuart_score +=length -i

In [82]:
if stuart_score > kevin_score:
    print(f'stuart { stuart_score}')
elif stuart_score < kevin_score:
    print(f'kevin { kevin_score}')
else:
    print("draw")

stuart 12

In [83]:
print(stuart_score)

12

##merger the tools

In [84]:

s="AABCAAADA"
K=3

In [85]:
s="AABCAAADA"
K=3

start=0
end=K
#print(s[start:end])
while end<=len(s):
    #print((s[start:end]))
    temp=(s[start:end])
    chunk=set(list(temp))
    
    print("".join(chunk))
    start += K
    end += K

AB
AC
AD

In [86]:
###try to understand the logic
def merge_the_tools(string, k):
    for n in range(len(string) // k):
        used = []
        [used.append(b) for b in string[n * k:(n + 1) * k] if b not in used]
        [print(b, end='') for b in used]
        print('')

##default dict

In [87]:
from collections import defaultdict

In [88]:
norm_dict={}
norm_dict["khush"]="tiwari"
norm_dict["anita"]="mishra"

norm_dict

{'khush': 'tiwari', 'anita': 'mishra'}

In [89]:
#norm_dict["brain"] it give error because we not defin this in dict

In [90]:
default_dict=defaultdict(str)
default_dict["khush"]="tiwari"
default_dict["anita"]="mishra"

default_dict

defaultdict(str, {'khush': 'tiwari', 'anita': 'mishra'})

In [91]:
default_dict["anjali"]#not given error

''

#itertools

In [1]:
from collections import defaultdict


data = defaultdict(list)
n, m = map(int, input().split())

for i in range(1,n+1):
    data[input()].append(str(i))

for i in range(m):
    B = input()

    
    if (B in data):
        print("".join(data[B]))
    else:
        print(-1)

1
-1
1

##combination

In [2]:
from itertools import combinations,permutations

In [6]:
#example to undersatbd the diff
#combnation
string="abc"
k=2

In [7]:
#permutation
list(permutations(string,k))

[('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('c', 'a'), ('c', 'b')]

In [8]:
#combination(no repataion similar value)
list(combinations(string,k))

[('a', 'b'), ('a', 'c'), ('b', 'c')]

In [10]:
# string,k=input().split()
# k=int(k)
for i in range(1,k+1):
    for j in combinations(sorted(string),i):
        print("".join(j))

a
b
c
ab
ac
bc

##permutation solution

In [12]:
#permutation
for item in sorted(list(permutations(string,int(k)))):
    print("".join(item))

ab
ac
ba
bc
ca
cb

#counter problem

In [2]:
#counter problem
from collections import Counter

In [3]:
term="ahbdhabdgfhbnakjhbdmejkrjh"
Counter(term)

Counter({'h': 5,
         'b': 4,
         'a': 3,
         'd': 3,
         'j': 3,
         'k': 2,
         'g': 1,
         'f': 1,
         'n': 1,
         'm': 1,
         'e': 1,
         'r': 1})

In [4]:
Counter(term).items()

dict_items([('a', 3), ('h', 5), ('b', 4), ('d', 3), ('g', 1), ('f', 1), ('n', 1), ('k', 2), ('j', 3), ('m', 1), ('e', 1), ('r', 1)])

In [5]:
Counter(term).keys()

dict_keys(['a', 'h', 'b', 'd', 'g', 'f', 'n', 'k', 'j', 'm', 'e', 'r'])

In [6]:
Counter(term).values()

dict_values([3, 5, 4, 3, 1, 1, 1, 2, 3, 1, 1, 1])

In [11]:
num=int(input())
shoe_size=list(map(int,input().split()))
no_customer=int(input())

counter_size=Counter(shoe_size)
#print(counter_size)

total=0
for customer in range(no_customer):
    size ,price=list(map(int,input().split()))
    if size in counter_size.keys():
        if counter_size[size]>0:
            total +=price
            counter_size[size]=counter_size[size]-1
print(total)

ValueError: invalid literal for int() with base 10: ',55'

##namedtuple

In [12]:
from collections import namedtuple

In [13]:
point= namedtuple("point",'x,y')

In [14]:
pt1=point(1,2)
print(pt1)

point(x=1, y=2)

In [15]:
pt1=point(3,4)
print(pt1)

point(x=3, y=4)

In [17]:
car= namedtuple("car","price milege color Class")

In [18]:
my_car=car(price=30000, milege=19999, color= "blue", Class=2)
print(my_car)

car(price=30000, milege=19999, color='blue', Class=2)

In [19]:
my_car[0]

30000

In [23]:

n=int(input())
fields=input().split()

In [24]:
total_marks=0

for student in range(n):
    student= namedtuple("student", fields)
    MARKS, CLASS, NAME, ID=input().split()
    student=student(MARKS, CLASS, NAME, ID)
    total_marks +=int(student.MARKS)
print("{:2f}".format(total_marks/n))

ValueError: not enough values to unpack (expected 4, got 1)

###polar cordinates

In [1]:
#polar cordinates
import cmath

In [2]:
z=1+2j

In [4]:
r=abs(z)#abs-absolute value
print(r)

2.23606797749979

In [5]:
phase=cmath.phase(z)
print(phase)

1.1071487177940904

In [6]:

print(abs(z))
phase=cmath.phase(z)
print(phase,abs(z))

2.23606797749979
1.1071487177940904 2.23606797749979

In [7]:
def polar_cordinates(z):
   r=abs(z)
   phase=cmath.phase(z)
   
   return r, phase
z=complex(input().strip())
r,theta=polar_cordinates(z)
print(r)
print(theta)

3.605551275463989
0.982793723247329

##find angle

In [10]:
import math
AB=int(input())
BC=int(input())
print(round(math.degrees(math.atan(AB/BC))))

45

#set are undoerder collection

In [1]:
[1,1,1,2,2,2,]

[1, 1, 1, 2, 2, 2]

In [2]:
set([1,1,1,2,2,2])

{1, 2}

In [3]:
set(["tom","tom","shetal","ankit",2,2])

{2, 'ankit', 'shetal', 'tom'}

In [4]:
n = int(input())
print(n)

In [7]:
arr='161 183  161 254  154 234 78 878 78'

In [8]:
arr.split()

['161', '183', '161', '254', '154', '234', '78', '878', '78']

In [11]:
arr=list(map(int,arr.split()))

In [10]:
arr

'161 183  161 254  154 234 78 878 78'

In [19]:
set(arr)

{78, 154, 161, 183, 234, 254, 878}

solution

In [18]:

def average(array):
    distinct_height = set(arr)
    average=sum(distinct_height)/(len(distinct_height))
    
    return round(average,3)

## set diff

In [1]:
n = int(input())
a=set(map(int,input().split()))
m = int(input())
b=set(map(int,input().split()))
sym_diff=a.symmetric_difference(b)

sorted_sym_diff=sorted(sym_diff)

for item in sorted_sym_diff:
    print(item)

123
1234